<%- include partials/header %>
<div class = "index">
    <div class = mx-auto>
    <div class = "text-center">
<h1>Todo App</h1>
<p>Your Personal Todo Notebook</p>
<a class="btn btn-info" href="/home">Launch</a>
</div>
</div>
</div>
<%- include partials/footer %>