<%- include partials/header %>
<div class = "update">
    <div class = "container">
    <div class = "mx-auto text-center">
    <h1>Update Task</h1>
    <form class = "uform" method = "POST" action = "/home/update/<%=updateTask._id%>?_method=PUT">
    <input type = "text" name = "name" value = "<%=updateTask.name%>" class = "form-control">
    <button type = "submit" class="btn btn-warning">Update</button>
    </form>
</div>
</div>
</div>
<%- include partials/footer %>